<h1>Video Game Details for {{game.name}} </h1>

<ul class="list-group">
    
    <li class="list-group-item">Name: {{game.name}}</li>
    <li class="list-group-item">Price: {{game.price}}</li>
    <li class="list-group-item">Version: {{game.version}}</li>
    <li class="list-group-item">Available: {{game.available}}</li>
    
</ul>


<a href="/">Back Home</a>