<h1>Video Game Details for {{game.name}} </h1>

<ul class="games_list">
    
    <li>Name: {{game.name}}</li>
    <li>Price: {{game.price}}</li>
    <li>Version: {{game.version}}</li>
    <li>Available: {{game.available}}</li>
    
</ul>


<a href="/">Back Home</a>